@import url(css/fonts);


* {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

html { 
    position: relative; 

}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #252525;
    min-width: 1024px;
    margin: 0 auto;
    height: calc(100vh - 0px);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}



/* Header */
header {
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header-wrap {
    padding: 0;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo:hover {
    opacity: 0.7;
}

.logo-block {
    float: left;
    margin: 15px 0;
    text-align: center;
}

.logo-block:nth-of-type(2) {
    margin-left: 50px;
}

.logo-orange {
    font-family: Calibri;
    color: #fb9c06;
    font-size: 34px;
    line-height: 50px;
}

.logo-black {
    font-family: 'bebas';
    font-size: 38px;
    font-weight: 400;
    line-height: 40px;
    color: #6e6d6b;
    text-transform: uppercase;
}

header > div > div > nav {
    float: right;
    width: 700px;
    list-style: none;
}

header > div > div > nav > ul > li {
    display: inline;
    margin-left: 60px;
}

.nav-link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #9E9B9B;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}

.nav-link:focus {
    color: #FB9C06;
}

.nav-link:hover {
    color: #FB9C06;
}
/* End Header */


/* Banner */
.banner {
    position: relative;
    overflow: hidden;
    background: url(../img/orange.png) no-repeat;
    background-size: cover;
    min-height: 400px;
    border-top: 5px solid #FCBA50; 
    border-bottom: 5px solid #FCBA50;
}

.banner h1 {
    position: absolute;
    top: 120px;
    margin-left: 180px;
    text-transform: uppercase;
    font-family: 'bebas';
    text-align: center;
}

.banner .first-text {
    background-color: rgba(51,51,51, 0.8);
    color: #fb9706;
    font-size: 34px;
    padding: 8px 15px;
}

.banner .second-text {
    background-color: rgba(251, 156, 6, 0.6);
    color: #6e6d6b;
    font-size: 34px;
    padding: 8px 20px;
}

.first-text:hover {
    background-color: rgba(51,51,51, 0.9);
}

.second-text:hover {
    background-color: rgba(251,156,6, 0.8);
}
/* End Banner */


/* About */
.about {
    border-bottom: 3px solid #F4F4F4;
}

.about-wrap {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.about-block {
    float: left;
    padding: 10px;
    width: 25%
}

.about-block > p {
    color: #000000;
}

.about-block > a {
    float: right;
    text-decoration: none;
    color: #FFB113;
    font-style: italic;
}

.about-block > a:hover {
    float: right;
    color: #6E6D6B;
    font-style: italic;
}
/* End About */


/* Team */
.team{
    text-align: center;
}

.team-wrap {
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    font-family: 'stmarie';
    display: inline-block;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    border-bottom: 3px solid #FFA51B;
    color: #FFA10D;
}

.team-block {
    float: left;
    width: 33.333333333%
}

h3 {
    font-family: 'Calibri';
    font-weight: 600;
    color: #6e6d6b;
    font-size: 22px;
    text-align: center;
}

.team-block > h3 > span {
    color: #FB9D09;
}

.team-block > p {
    width: 270px;
    padding-top: 30px;
    margin: auto;
}

.team-photo {
    margin: 0 auto;
    width: 290px;
    height: 290px;
    display: block;
    border-radius: 50%;
    border: 5px solid #FFB540;
    text-align: center;
}

.photo-horse {
    background-image: url(../img/horse.png);
    background-size: cover;
}

.photo-rabbit {
    background-image: url(../img/rabbit.png);
    background-size: cover;
}

.photo-ostrich {
    background-image: url(../img/ostrich.png);
    background-size: cover;
}

.team-text {
    text-align: left;
}
/* End Team */


/* Contact */
.contact-form {
    text-align: center;
}


input {
    margin-left: 110px;
    outline: 0;
    padding-left: 17px;
    width: 80%;
    height: 32px;
    font-size: 14px;
    color: #3C3C3C;
    border: 1px solid #F8F7F6;
    background-color: #F8F7F6;
    margin-bottom: 35px;
    box-shadow: inset 5px 2px #D2D0CF;
}

textarea {
    margin-left: 83px;
    outline: 0;
    padding-left: 17px;
    width: 80%;
    height: 95px;
    font-size: 14px;
    color: #3C3C3C;
    border: 1px solid #F8F7F6;
    background-color: #F8F7F6;
    box-shadow: inset 5px 2px #D2D0CF;
}

form > span {
    font-family: 'stmarie';
    font-size: 24px;
    color: #FCB03C;
    margin-top: 0;
}

.form-text {
    font-family: 'stmarie';
    font-weight: 600;
    color: #fb9c06;
    font-size: 24px;
}

.contact-btn {
    font-family: 'stmarie';
    font-size: 24px;
    float: right;
    margin-top: 25px;
    margin-right: 80px;
    width: 175px;
    height: 45px;
    color: #fff;
    background-color: #FB9C06;
    border: 1px solid #FB9C06;
    border-bottom: 2px solid #CC830F;
    cursor: pointer;
    margin-bottom: 110px;
}

.contact-btn:hover {
    background-color: #6E6D6B;
    border: 1px solid #6E6D6B;
    border-bottom: 2px solid #595857;
}
/* End Contact */


/* Footer */

.footer-text {
    font-family: 'stmarie';
    font-size: 32px;
    text-transform: uppercase;
    background-color: #FB9C06;
    color: #fff;
    border-bottom: 3px solid #CC830F;
    text-align: center;
    line-height: 70px;
    height: 70px;
    margin-top: 40px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-text p {
    margin: 0;
    bottom: 0;
}
/* End Footer */
